.content {
    padding: 0.25rem;
    background-color: #fff;
    border-radius: 0.25rem;
    min-height: 75px;
}

a {
    color: inherit;
}

img {
    height: 80px;
    max-height: 80px;
    max-width: 80px;
    pointer-events: none;
    object-fit: scale-down;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: normal;    
}

.tile {
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
}

.tile:hover {
    border: 2px solid #406ec8;
    border-radius: 0.25rem;
    transform: scale(1.15);
}
.tileDeSelected {
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    animation-name: selected;
    animation-duration: 2s;
}
.tileSelected {
    border: 2px solid #406ec8;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 5px grey;
    animation-name: selected;
    animation-duration: 2s;
}
@keyframes selected {
    0% { border: 1px solid #e6e6e6; transform: scale(1.0); }
    50% { border: 2px solid #406ec8; transform: scale(1.15); }
    100% { border: 1px solid #e6e6e6; transform: scale(1.0); }
}